<%@ Template Language="C#" TargetLanguage="Java" Encoding="utf-8" Inherits="" Debug="False" Description="POJO" %>
<!-- #include file="generatorCommon/CommonMethod.cst" -->
<%@ Property Name="OutputPath" Default="D:/output" Type="String" Optional="False" Category="Context" OnChanged="" Editor="" EditorBase="" Serializer="" %>
<%@ Register Name="MyBaseDao" Template="common/BaseDao.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="MyBatisDao" Template="common/MyBatisDaoAnnotation.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="MyEntity" Template="module/Entity.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="MyDao" Template="module/Dao.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="MyService" Template="module/Service.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="MyDaoMapping" Template="mapping/DaoMapping.cst" MergeProperties="False" ExcludeProperties="" %>
<script runat="template">
string basePackage = "edu.bnuz.pmvv";
string author = "Ayakura Yuki";

public string CommonPackage()
{
    return basePackage + ".common";
}

public string ModulePackage(TableSchema table)
{
    return (basePackage + ".module." + PoPackageOfTable(table.Name));
}

public void OutputCommonToFile()
{
    CodeTemplate baseDao = new MyBaseDao();
    baseDao.SetProperty("BaseCommonPackage", CommonPackage());
    baseDao.SetProperty("Author", author);
    baseDao.RenderToFile(OutputPath + "/common/template/BaseDao.java", true);
    
    CodeTemplate myBatisDao = new MyBatisDao();
    myBatisDao.SetProperty("BaseCommonPackage", CommonPackage());
    myBatisDao.SetProperty("Author", author);
    myBatisDao.RenderToFile(OutputPath + "/common/annotation/MybatisDao.java", true);
}

public void OutputModuleToFile(TableSchema table)
{
    CodeTemplate entity = new MyEntity();
    entity.SetProperty("SourceTable", table);
    entity.SetProperty("BaseCommonPackage", CommonPackage());
    entity.SetProperty("BaseModulePackage", ModulePackage(table));
    entity.SetProperty("Author", author);
    entity.RenderToFile(OutputPath + "/module/" + PoPackageOfTable(table.Name) + "/entity/" + ClassOfTable(table.Name) + ".java", true);
    
    CodeTemplate dao = new MyDao();
    dao.SetProperty("SourceTable", table);
    dao.SetProperty("BaseCommonPackage", CommonPackage());
    dao.SetProperty("BaseModulePackage", ModulePackage(table));
    dao.SetProperty("Author", author);
    dao.RenderToFile(OutputPath + "/module/" + PoPackageOfTable(table.Name) + "/dao/" + ClassOfTable(table.Name) + "Dao.java", true);

    CodeTemplate service = new MyService();
    service.SetProperty("SourceTable", table);
    service.SetProperty("BaseCommonPackage", CommonPackage());
    service.SetProperty("BaseModulePackage", ModulePackage(table));
    service.SetProperty("Author", author);
    service.RenderToFile(OutputPath + "/module/" + PoPackageOfTable(table.Name) + "/service/" + ClassOfTable(table.Name) + "Service.java", true);
    
    CodeTemplate mapping = new MyDaoMapping();
    mapping.SetProperty("SourceTable", table);
    mapping.SetProperty("BaseCommonPackage", CommonPackage());
    mapping.SetProperty("BaseModulePackage", ModulePackage(table));
    mapping.SetProperty("Author", author);
    mapping.RenderToFile(OutputPath + "/module/" + PoPackageOfTable(table.Name) + "/" + ClassOfTable(table.Name) + "Dao.xml",true);
}
</script>
<%
OutputCommonToFile();
for (int i = 0; i < SourceDB.Tables.Count; i++) {
    OutputModuleToFile(SourceDB.Tables[i]);
}
%>