<%@ Template Language="C#" TargetLanguage="Java" ResponseEncoding="utf-8" Inherits="" Debug="False" Description="Controller" %>
<!-- #include file="../generatorCommon/CommonMethod.cst" -->
<!-- #include file="../generatorCommon/CommonTable.cst" -->
package <%= BaseModulePackage %>.web;

import <%= BaseModulePackage %>.entity.<%= ClassOfTable(SourceTable.Name) %>;
import <%= BaseModulePackage %>.service.<%= ClassOfTable(SourceTable.Name) %>Service;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.ResponseBody;

import javax.servlet.http.HttpServletRequest;
import javax.servlet.http.HttpServletResponse;
import java.util.List;

/**
 * Create by <%= Author %> on <%= DateTime.Now.ToShortDateString() %> via CodeSmith
 */
@Controller
@RequestMapping("/<%= ObjectOfTable(SourceTable.Name) %>")
public class <%= ClassOfTable(SourceTable.Name) %>Controller {

	@Autowired
	private <%= ClassOfTable(SourceTable.Name) %>Service <%= ObjectOfTable(SourceTable.Name) %>Service;
    
    

}
