<%@ Template Language="C#" TargetLanguage="Java" ResponseEncoding="utf-8" Inherits="" Debug="False" Description="Dao" %>
<!-- #include file="../generatorCommon/CommonMethod.cst" -->
<!-- #include file="../generatorCommon/CommonTable.cst" -->
package <%= BaseModulePackage %>.dao;

import <%= BaseCommonPackage %>.annotation.MybatisDao;
import <%= BaseCommonPackage %>.template.BaseDao;
import <%= BaseModulePackage %>.entity.<%= ClassOfTable(SourceTable.Name) %>;

/**
 * Create by <%= Author %> on <%= DateTime.Now.ToShortDateString() %> via CodeSmith
 * Schema: <%= SourceDB.Name %>
 * Table: <%= SourceTable.Name %>
 */
@MybatisDao
public interface <%= ClassOfTable(SourceTable.Name) %>Dao extends BaseDao<<%= ClassOfTable(SourceTable.Name) %>> {
}